/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CUSTOM PROPERTIES */
:root {
    --btn-color: #0061ff;
    --bgc-main-color: #b4d0e7;
    --border-color: #d0d0d3;
    --designit-color: #a2d39b;
    --asu-color: #61082b;
    --uniflorida-color: #0093ce;
    --topps-color: #ff1c1c;
    --wbr-color: #d5001f;
    --lonely-planet-color: #0d2481;
    --hearst-color: #b4d0e7;
    --clear-chan-color: #ffd830;
    --txt-size-xl: 80px;
    --txt-size-md: 40px;
    --txt-size-ms: 24px;
    --txt-size-sm: 16px;
    --txt-size-xs: 14px;
    --space-xxs: 5px;
    --space-xs: 10px;
    --space-sm: 30px;
    --space-ms: 45px;
    --space-md: 50px;
    --space-lg: 60px;

}

/* UTILITY */
.d-flex {
    display: flex;
}

.just-cent {
    justify-content: center;
}

.just-bet {
    justify-content:space-between;
}

.container-large {
    max-width: 1200px;
    margin: 0 auto;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    font-size: var(--txt-size-xl);
    padding: var(--space-md) 0px;
    font-weight: 800;
}

h2 {
    font-size: var(--txt-size-md);
}

h3 {
    font-size: var(--txt-size-ms);
    font-weight: 700;
}

h4 {
    font-size: var(--txt-size-sm);
}

p {
    font-size: var(--txt-size-sm);
}

.pad-top-bot-50 {
    padding: var(--space-md) 0px;
}

.mar-top-bot-50 {
    margin: var(--space-md) 0px;
}

.fa-check {
    color: var(--btn-color);
}

.border {
    border: 1px solid var(--border-color);
}

.center {
    text-align: center;
}

.align-center {
    align-items: center;
}

/* LIST */
ul li {
    list-style-type: none;
}

/* BUTTONS */
.btn {
    font-size: var(--txt-size-sm);
    padding: var(--space-xs) 15px;
}

.btn.btn-blue {
    color: #fff;
    background-color: var(--btn-color);
    text-decoration: none;
}

.btn.btn-blue:hover {
    opacity: 0.5;
}

.btn.btn-white {
    color: black;
    background-color: white;
    text-decoration: none;
}

#find-btn {
    border: 1px solid black;
    text-decoration: none;
}

/* BODY */
body {
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */
header {
    height: 80px;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 1px 1px 5px grey;
    line-height: 80px;
}

/* HOVER ON LI */

header li:hover {
    border-bottom: 3px solid black;
}

header li {
    border-bottom: 3px solid transparent;
}

.logo {
    display: inline;
    vertical-align: middle;
}

li a {
    text-decoration: none;
    color: currentColor;
}

.menu-rx li, .menu-lx li {
    font-size: var(--txt-size-sm);
    list-style-type: none;
    padding: 0px 20px;
}

/* MAIN */
main {
    margin-top: 80px;
}

/* JUMBOTRON */
.jumbotron {
    background-color: var(--bgc-main-color);
    height: 720px;
}

.jumbo-pic {
    max-width: 100%;
}

.picture {
    height: 500px;
    flex-basis: 70%;
}

.col-jumbo-txt a {
    display: inline-block;
    margin: var(--space-sm) 0px;
}

.col-jumbo-txt {
    flex-basis: 30%;
}

.col-jumbo-img {
    flex-basis: 70%;
}

div.col-jumbo-txt > .btn {
    margin: var(--space-sm) 0px;
}

.fa-arrow-down {
    padding-top: var(--space-ms);
    font-size: var(--space-md);
}

/* COLUMN MONTH PLAN */
.month-plan a, 
.month-plan span, 
.month-plan li,
.month-plan p {
    font-size: var(--txt-size-xs);
}

.col-plan {
    column-gap: var(--space-md);
}

.col-plan .single-col {
    width: calc(100% / 3);
}

.span-border {
    margin-left: 35px;
    padding: 25px 0px;
}

.border-div {
    margin: var(--space-md) 35px;
    width: 15%;
    border-bottom: 1px solid var(--border-color);
}

.plan-ul li {
    text-indent: -9px;
    padding: var(--space-xxs) 49px;
}

.plan-ul li:last-child {
    padding-bottom: var(--space-md);
}

/* FONT AWESOME LIST ICON */

.plan-ul li::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.plan-ul li.user-ico::before {
    font: var(--fa-font-solid);
    content: "\f007";
}

.plan-ul li.folder-ico::before {
    font: var(--fa-font-solid);
    content: "\f07b";
}

.plan-ul li.share-ico::before {
    font: var(--fa-font-solid);
    content: "\f1e0";
}

.plan-ul li.check-ico::before {
    color: var(--btn-color);
    font: var(--fa-font-solid);
    content: "\f00c";
}

/* CIRCLE */
.circle {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
}

.circle.circle-selected {
    border: var(--space-xxs) solid var(--btn-color);
}

.circle.circle-unselected {
    border: 1px solid var(--border-color);
}

.circle-container span:nth-of-type(2) {
    margin-right: var(--space-md);
}

.circle-container {
    padding-bottom: var(--space-md);
}

.col-title{
    padding: var(--space-xs) 0px;
    border-bottom: 1px solid var(--border-color);
}

.plan-type {
    margin: var(--space-sm) 0px;
    padding: var(--space-xs) 35px;
}

.plan-type > p, h4 {
    padding: 8px 0px;
}

/* ENTERPRISE SECTION */
.enterprise {
    height: 100%;
    margin: var(--space-md) 0px;
}

.enterprise-info {
    flex-basis: 70%;
}

.enterprise-container {
    padding: var(--space-sm);
}

.enterprise-info p {
    padding-top: var(--space-md);
}

.enterprise-btn {
    flex-basis: 30%;
}

/* PARTNER SECTION */
.partner {
    height: 100%;
}

.col {
    margin: var(--space-md);
}

.col h3, p {
    padding: var(--space-xs) 0px;
}

.col p {
    margin-bottom: var(--space-sm);
}


/* BUSINESS SECTION */
.business {
    flex-wrap: wrap;
    column-gap: 20px;
} 

.business-row {
    padding: var(--space-md) 0px;
}

.business-row h2 {
    padding: var(--space-md) 0px;
}

.col-business {
    width: calc((100% / 3) - 40px);
}

.col-img {
    height: 250px;
    width: auto;
}

.dbox-users {
    width: 650px;
    flex-direction: column;
    padding: 100px 0px;
}

/* DESIGNIT MEGABLOCK SECTION */
.block {
    height: calc(100vw / 3);
    width: calc(100vw / 3);
    flex-wrap: wrap;
}

.box {
    width: 50%;
    height: 50%;
    border: 15px solid rgba(0,0,0,0);
}

.box:hover {
    border: 15px solid rgba(255,255,255,0.6);
}

.center-blocks {
    padding: var(--space-md);
    flex-direction: column;
    align-items: flex-start;
}

.border-designit {
    margin: var(--space-sm) 0px;
    width: 25%;
    border-bottom: 1px solid var(--border-color);
}

.center-blocks img {
    height: 90px;
}

.designit {
    background-color: var(--designit-color);
}

.box img {
    width: 65%;
    filter: invert(100%); 
    -webkit-filter: invert(100%);
}

.asu {
    background-color: var(--asu-color);
}

.uni-florida {
    background-color: var(--uniflorida-color);
}

.topps {
    background-color: var(--topps-color);
}

.wbr {
    background-color: var(--wbr-color);
}

.hearst {
    background-color: var(--hearst-color);
}

.lonely-planet {
    background-color: var(--lonely-planet-color);
}

.clear-channel {
    background-color: var(--clear-chan-color);
}

/* COMPANY SECTION */
.company {
    height: 300px;
    background-color: var(--bgc-main-color);
}

.company-box h2 {
    padding-right: var(--space-lg);
    flex-basis: 70%;
    color: var(--asu-color);
}

.company-box a {
    align-self: flex-start;
    flex-basis: 30%;
}
/* FAQ */
.faq {
    height: 100%;
}

.questions {
    border-top: 1px solid var(--border-color);
}

.faq-box h4 {
    padding: var(--space-ms) 0px;
}

.faq-box div:last-child {
    border-bottom: 1px solid var(--border-color);
}

/* FAQ HOVER */
.div-answer {
    display: none;
}

.fa-angle-up {
    display: none;
}

.answer {
    padding: 20px 0px;
}

.faq-hover:hover .div-answer {
    display: initial;
}

.faq-hover:hover .fa-angle-up {
    display: initial;
}

.faq-hover:hover .fa-angle-down {
    display: none;
}

/* FOOTER */
footer {
    color: white;
    height: 400px;
    background-color: black;
    padding-top: var(--space-md);
}

.foot-column {
    line-height: 40px;
    color: #fff;
    flex-basis: calc(100% / 5);
}

.foot-column li:last-child {
    padding-bottom: var(--space-sm);
}

.lang-box {
    height: 80px;
    align-items: flex-end;
}

.lang-selection {
    align-items: center;
    color: var(--border-color);
    padding-top: var(--space-ms);
    border-top: 1px solid currentColor;
}

.lang-selection * {
    padding-right: var(--space-xxs);
}