/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CUSTOM PROPERTIES */
:root {
    --btn-color: #0061ff;
    --bgc-main-color: #b4d0e7;
    --border-color: #d0d0d3;
    --txt-size-xl: 80px;
    --txt-size-md: 40px;
    --txt-size-sm: 17px;
    --space-50px: 50px;
}

/* UTILITY */
.d-flex {
    display: flex;
}

.just-cent {
    justify-content: center;
}

.container-large {
    max-width: 1200px;
    margin: 0 auto;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    font-size: var(--txt-size-xl);
    padding: var(--space-50px) 0px;
}

h2 {
    font-size: var(--txt-size-md);
}

p {
    font-size: var(--txt-size-sm);
    line-height: 25px;
}

.pad-top-bot-50 {
    padding: var(--space-50px) 0px;
}

.fa-check {
    color: var(--btn-color);
}

.center {
    text-align: center;
}

/* !DA RIMUOVERE */
.border {
    border: 1px solid var(--border-color);
}

.bgc-white {
    background-color: #fff;
}

/* BUTTONS */
button {
    border: none;
}

.btn {
    padding: 10px 15px;
}

.btn.btn-blue {
    color: #fff;
    background-color: var(--btn-color);
}

.btn.btn-white {
    color: black;
    background-color: white;
}

/* BODY */
body {
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */
header {
    height: 80px;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    box-shadow: 1px 1px 5px grey;
}

a {
    text-decoration: none;
    color: black;
}

ul li {
    list-style-type: none;
    padding: 0px 15px;
}

.menu-rx ul {
    justify-content: right;
}

.menu-lx, .menu-rx {
    flex-basis: 25%;
}

.empty {
    flex-basis: 50%;
}

/* MAIN */
main {
    margin-top: 80px;
}

/* JUMBOTRON */
.jumbo-box {
    background-color: var(--bgc-main-color);
    height: 700px;
}

.jumbo-pic {
    width: 70%;
}

.picture {
    background-color: #fff;
    height: 200px;
    flex-basis: 70%;
}

.col {
    flex-basis: 30%;
}

div.col > button {
    margin: 30px 0px;
}

.fa-arrow-down {
    padding-top: 70px;
    font-size: var(--space-50px);
}

/* COLUMN MONTH PLAN */
.plan-box {
    height: 100%;
}


/* .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

.col a {
    display: inline-block;
    margin: 30px 0px;
}

.col-plan {
    justify-content: space-between;
    column-gap: 50px;
}

.col-plan .single-col {
    width: calc(100% / 3);
}

/* CIRCLE */
.circle {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
}

.circle.circle-selected {
    border: 5px solid var(--btn-color);
}

.circle.circle-unselected {
    border: 1px solid var(--border-color);
}

.circle-container span:nth-of-type(2) {
    margin-right: var(--space-50px);
}

.circle-container {
    padding-bottom: var(--space-50px);
}

.col-title{
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid var(--border-color);
}

.plan-box {
    padding: 30px 30px;
}

.plan-type {
    margin: 20px 0px;
}

.plan-type div {
    padding: 5px 0px;
}

/* ENTERPRISE SECTION */
.enterprise {
    height: 300px;
    background-color: lightslategray;
}

/* PARTNER SECTION */
.partner {
    height: 600px;
    background-color: lightgreen;
}

/* BUSINESS SECTION */
.business {
    flex-wrap: wrap;
} 

.col-business {
    width: calc(100% / 3);
}

.debug-img {
    height: 200px;
    width: 200px;
    background-color: red;
}

/* DESIGNIT MEGABLOCK SECTION */
.megablock {
    height: 500px;
    justify-content: space-between;
    position: relative;
}

.box {
    height: 250px;
    width: 250px;
}

.designit {
    background-color: lightgreen;
}

.asu {
    position: absolute;
    top: 0;
    left: 250px;
    background-color: rebeccapurple;
}

.uni-florida {
    background-color: cyan;
}

.topps {
    background-color: red;
    position: absolute;
    top: 250px;
    left: 250px;
}

.wbr {
    position: absolute;
    right: 250px;
    top: 0;
    background-color: red;
}

.hearst {
    background-color: aquamarine;
}

.lonely-planet {
    position: absolute;
    right: 250px;
    bottom: 0px;
    background-color: blue;
}

.clear-channel {
    background-color: yellow;
}

/* COMPANY SECTION */
.company {
    height: 300px;
    background-color: var(--bgc-main-color);
}

/* FAQ */
.faq {
    height: 800px;
    background-color: lightsalmon;
}

/* FOOTER */
footer {
    color: white;
    height: 600px;
    background-color: black;
}

.foot-column {
    border: 2px solid white;
    flex-basis: calc(100% / 5);
}
